{% extends "base.html.twig" %}

{% block title %}Livres
{% endblock %}

{% block stylesheet %}
	<link
		rel="stylesheet"
		href="/assets/css/output.css">
{% endblock %}

{% block body %}
	{% include "components/navbar.html.twig" %}
	<main
		class="w-8/10 m-auto grid grid-cols-3 my-10 gap-20">
		{% for value in data %}
			<a
				href="/livres/{{value.livres.id}}">
				<article
					class="card">
					{{ value.livres.synopsis|raw }}
					<div
						class="flex mt-auto">
						<h3
							class="text-2xl font-semibold">
							{{value.auteurs.prenom}}
							{{value.auteurs.nom}}
						</h3>
						<span
							class="ml-auto text-xl italic">
							{{value.livres.annee_publication}}
						</span>
					</div>
					<span
						class="italic">
						{{value.categories.nom}}
					</span>
				</article>
			</a>
		{% endfor %}

	</main>
	<div>
		{% for i in 1..page %}
			<a
				href="/livres?page={{i}}">{{i}}
			</a>
		{% endfor %}
	</div>
{% endblock %}
